<!DOCTYPE html>

<html lang="en">
    <body th:fragment="bodyHeader">
        <div class="containter navbar">
            <div class="container cisis">
                <img style="vertical-align: bottum; float:left " th:src="@{/resources/images/logoHeader.png}" 
                     src="../../../resources/images/logoHeader.png" /><h1>Grade Application: <small>&nbsp;Course Mark Calculator</small></h1>
            </div>
            <div class="navbar-inner" >
                <ul  class="nav">
                    <li class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Resources
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="../calculator/deliverables.html" th:href="@{/deliverables}"><i class="icon-th-list"></i>Deliverables</a></li>                   
                        </ul>
                    </li>
                </ul>
                <ul  class="nav">
                    <li class="dropdown" id="menuTools">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuTools">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Tools
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="../calculator/addDeliverable.html" th:href="@{/addDeliverable}"><i class="icon-th-list"></i>Add</a></li>                   
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../other/help" th:href="@{/other/help}"><i class="icon-question-sign"></i>Help</a></li>
                    <li class="divider"></li>
                    <li><a href="../other/about" th:href="@{/other/about}"><i class="icon-log-out"></i>About</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>